html {
    line-height: 1.15;
    
    -webkit-text-size-adjust: 100%;
    
  }
  head.h2{
margin-left: 300px;
  }

  body {
    margin: 0;
  }
  .container{
    padding-left: 0;
  }
  .row{
    padding-left: 0;
  }
  .col-md-auto{
    border: 1px solid black;
  }
  .col{
    
    height: fit-content;
    border: 1px solid black;
    
    
  }
  .textBox{
    padding-left: 5px;
  }
  
  
  main {
    display: block;
  }